#HeadTitle, #pagebody, footer{
    margin: 50px;
}

header {
    background: teal;
    height: 150px;
    margin: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

}

#HeadTitle{
    color: white;
    font-size: 50px;
    text-align: center;
    
}



#pagebody{
    background: lightgrey;
    height: 1000px;
}

footer{
    background: darkgrey;
    height: 50px;
    bottom: 0;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

#peoplepage{
    background: darkgrey;
    margin: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 30px;
}

p{
    font-size: 20px;
}